/* import font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap");

*::before,
*::after {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
}

/* reusability */
li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

section .section-title {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  position: relative;
}

section .section-title::after {
  position: absolute;
  content: "";
  bottom: -20%;
  left: 0;
  width: 10%;
  height: 6px;
  background: #faff11;
}

.btn {
  padding: 0.589rem 1.568rem !important;
  outline: none !important;
  border: none !important;
  border-radius: 5px !important;
}

.order-btn {
  background: rgba(226, 13, 13, 0.6) !important;
  color: #fff !important;
  width: 203px !important;
  height: 43px !important;
}

.cart-btn {
  position: relative;
  background: #f9f9f9;
  border-radius: 20px !important;
  border: 1px solid rgba(226, 13, 13, 0.6) !important;
}

.cart-btn .count {
  position: absolute;
  top: 10%;
  right: -16%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #faff11;
  color: rgba(0, 0, 0, 0.6) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.cart-btn .cart-design {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 16px;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.74);
  font-family: "Roboto", sans-serif !important;
}

.cart-btn .cart-design span {
  margin-left: 6px;
}

.cart-btn .cart-design i {
  color: rgba(226, 13, 13, 0.6) !important;
  font-size: 22px;
}

/* navbar */
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  color: rgba(226, 13, 13, 0.6) !important;
}

.navbar-nav .nav-item {
  margin: 0px 20px 0px 0px;
}

.navbar-nav .nav-item .nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px !important;
  color: #000 !important;
  letter-spacing: 1px;
  transition: hover 0.2s ease;
}

.navbar-nav .nav-item .nav-link.active {
  color: rgba(226, 13, 13, 0.6) !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: rgba(226, 13, 13, 0.6) !important;
}

.nav-menu .nav-list {
  display: inline-flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .nav-menu .nav-list {
    flex-direction: column;
    justify-content: space-between !important;
  }
}
/* hero */
section.hero {
  position: relative;
  height: 60vh;
  width: 100%;
  background: radial-gradient(
    78.4% 78.4% at 50.99% 13.14%,
    rgba(255, 9, 9, 0.58) 0%,
    rgba(226, 13, 13, 0.348) 100%
  );
}

#services .services-card {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0.59rem 0;
  background: rgba(251, 252, 252);
  display: flex;
  flex-direction: row;
}

#services .services-card .img-container {
  width: 35%;
  height: 100%;
  background: hsla(219, 72%, 49%, 0.55);
}

#about .about-card {
  width: 100%;
  height: 256px;
  background: #d0d3d4;
  margin: 0.59rem 0;
}

/* ctc */
section.banner {
  height: 50vh;
  width: 100%;
  background: radial-gradient(
    78.4% 78.4% at 50.99% 13.14%,
    #f8f8f8 0%,
    #c2c1c1f6 100%
  );
}

/* ambition */
#ambition .about-card {
  width: 100%;
  height: 256px;
  background: #d0d3d4;
  margin: 0.59rem 0;
  border-top-left-radius: 0.79rem;
  border-top-right-radius: 0.79rem;
}

/* download sec */
section.dwn-sec {
  height: 25vh;
  width: 100%;
  background: #6b55f2;
}

/* footer */
#footer {
  width: 100%;
  height: 40vh;
  background: #000;
}
